
.simple-template-title{
    font-family: "Times New Roman", Times, serif;
    color: #333333;
    text-align: left;
    font-size: 29px;
    font-weight: 200;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    padding-bottom: 3px;
}

.simple-template-p{
    color: #333333;
    text-align: left;
    font-size: 14px;
}