
.editUserModal h3{
    margin-top: 4px;
    margin-bottom: 4px;
    color: #707070;
    text-align: center;
}

.edit-user-modal-label{
    margin: 4px 0px 0px 0px;
    font-size: 12px;
    color: #2d6930;
}

/* Full-width inputs */
.editUserModal select, .editUserModal input[type=text], 
.editUserModal input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;  
}

/* Set a style for all buttons */
.editUserModal button {
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.editUserModal button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.editUserModal .container {
    padding: 16px;
}