.thumbnail-image{
    display: inline-block;
    margin: 0px 5px 5px 5px;
    cursor: pointer;
    position: relative;
    vertical-align: top;
}

.thumbnail-image-img{
    border: solid 1px #d0d0d0;
    padding: 6px;
    height: 90px;
    width: 90px;
    display: flex;
}

.thumbnail-image-img:hover{
    border: solid 1px #a0a0a0;
}

.thumbnail-image img{
    opacity: 0.7;
    filter: alpha(opacity=70);

    max-width: 90px;
    max-height: 90px;
    
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.thumbnail-image-img:hover img{
    opacity: 1;
    filter: alpha(opacity=100);
}

.thumbnail-image-label{
    width: 90px;
    left: 0;
    top:85px;
    padding-bottom: 8px;
}

.thumbnail-image a{
    font-size: 12px;   
    color: #454545;
    text-decoration:none;
}

.thumbnail-image:hover a{
    color: #0645ad;
    
}

.thumbnail-image a:hover{
    text-decoration: underline;
}