
.userItem{
    height: 50px;
    border: solid 1px #e0e0e0;
    overflow: hidden;
    cursor: pointer;

    padding: 5px 0px 0px 5px;
    margin: 2px 6px 4px 3px;
    border-radius: 10px;
}

.userItem > div{
    float: left;
}

.user-item-div-image{
    width: 55px;
}

.user-item-div-image img{
    border-radius: 10px;
}

.user-item-div-info{
    height: 100%;
    width: calc(100% - 60px);
}

.user-item-div-info:hover .user-item-span{
    color: #326fad;
}

.user-item-div-info:hover .user-item-name{
    color: #000000;
}

.user-item-div-info h3 {
    margin: 0;
    font-weight: 100;
    font-size: 14px;
    color: #606060;
    float: left;
}

.user-item-div-info .user-item-name{
    font-size: 16px;
    color: #333333;
    margin-top: 8px;
    /* margin-bottom: 3px; */
    width: 33%;
}

.user-item-div-options{
    width: 33%;
    float: left;
}

.user-item-div-options a{
    margin-left: 8px;
    float: right;
    color: #a0a0a0;
}

.user-item-div-options a:hover{
    color: #326fad;
}