.user-editor-main-div{
    position: fixed;
    width: calc(100% - 215px);
}

.user-editor-div-user-list{
    height: 300px;
    overflow-y: scroll;
}

.user-editor-div-user-list > .empty-content-message{
    margin-top: 130px;
}