.text-editor-frame{
    border: solid 1px #ddd; 
    border-radius: 4px;

    height: 450px;
}

.text-editor-div-tabs{
    padding: 5px 5px 0px 5px;
    border-bottom: solid 1px #ddd;
    min-height: 34px;
}

.text-editor-div-tabs button{
    display: flex;
    float: left;

    background-color: #fff;
    border: solid 1px transparent; 
    border-radius: 4px 4px 0px 0px;
    border-bottom-color: #ddd;

    font-size: 13px;
    color: #337ab7;
    cursor: pointer;

    height: 35px;

    padding: 10px 10px 8px 10px;
}

.text-editor-div-tabs button:hover{
    background-color: #f0f0f0;
}

.text-editor-div-tabs .text-editor-div-tab-selected{
    border: solid 1px #ddd; 
    border-bottom-color: transparent;
    color: #444;
}

.text-editor-div-content{
    margin: 0;
    width: 100%;
    height: calc(100% - 40px);
    /* background-color: #f9f9f9; */
    padding: 5px;
    box-sizing : border-box;
    overflow-y: auto;
}

.text-editor-textarea{
    width: calc(100% - 6px);
    height: calc(100% - 20px);
    background-color: transparent;
    border: solid 0;
    padding-top: 10px;
    color: #555555;
    resize: none;
}

.text-editor-textarea:focus{
    outline: -webkit-focus-ring-color auto 0px;
}

.text-editor-link-help{
    float: right;
    margin: 6px 6px 0px 10px;
    color: #337ab7;
}

.text-editor-link-help:hover{
    color: #70a1cc;
}

/* Style for Pickle Wiki articles */

.text-editor-markdown{
    padding: 0;
    margin: 0;
}

.text-editor-markdown p{
    margin: 4px 0px;
}

.text-editor-markdown h1{
    font-family: "Times New Roman", Times, serif;
    color: #333333;
    text-align: left;
    font-size: 29px;
    font-weight: 200;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    padding-bottom: 3px;
}

.text-editor-markdown h2{
    font-family: "Times New Roman", Times, serif;
    color: #333333;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    margin: 25px 0px 10px 0px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e0e0e0;
    padding-bottom: 3px;
}

.text-editor-markdown h3{
    font-family: "Times New Roman", Times, serif;
    color: #333333;
    text-align: left;
    font-size: 16px;
    font-weight: 200;
    margin: 25px 0px 10px 0px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    padding-bottom: 3px;
}

.text-editor-markdown p{
    color: #333333;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    list-style-type: disc;
    font-family: sans-serif;
    border-spacing: 2px;
}

.text-editor-markdown ul, .text-editor-markdown li{
    color: #333333;
    text-align: left;
    font-size: 14px;
    font-family: sans-serif;
    border-spacing: 2px;
}

.text-editor-markdown a{
    color: #0645ad;
    text-decoration:none;
}

.text-editor-markdown a:hover{
    text-decoration: underline;
}

.text-editor-markdown a:visited{
    color: #0b0080;
}

.text-editor-markdown img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.text-editor-markdown pre{
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #444444;
    border: solid 1px #c0c0c0;
    border-radius: 1px;
}

.text-editor-markdown blockquote{
    border-left: solid 4px #666666;
    color: #666666;
    background-color: #f0f0f0;
    margin: 2px 15px;
    padding: 0px;
}

.text-editor-markdown blockquote p{
    padding: 8px 6px;
}

.text-editor-markdown table{
    border-collapse: collapse;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.text-editor-markdown tr th{
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    padding: 6px 13px;
    font-family: sans-serif;
    border: solid 1px #e0e0e0;
    background-color: #f5f5f5;
    color: #333333;
    margin: 0px;
}

.text-editor-markdown tr td{
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
    padding: 6px 13px;
    font-family: sans-serif;
    border: solid 1px #e0e0e0;
    color: #555555;
    margin: 0px;
}

/* .text-editor-frame .link-button{
    display: inline-block;
    color: #337ab7;
    max-height: 27px;
    max-width: 20px;
    font-size: 14px;

    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 5px 6px 5px 5px;
    margin: 0px 0px 2px 40%;

    cursor: pointer;
}

.text-editor-frame .link-button:hover{
    background-color: #f0f0f0;
} */