.div-login-modal input{
    border-radius: 0;
    padding: 8px 12px;
    margin: 3px 0px;
}

.div-login-modal .login-modal-input-label{
    margin: 8px 0px 3px 0px;
    font-size: 14px;
}

.div-login-modal .login-modal-enter-button{
    margin: 4px 0px;
    width: 100%;
    background-color: black;
    color: white;
    border-width: 0px;
}

.div-login-modal .login-modal-enter-button:hover{
    background-color: #c0c0c0;
    color: black;
}

.div-login-modal img{
    background-color: #ffffff;
    padding: 10px;
    margin-left: calc(50% - 40px);
}