.divSearch{
    border: solid 1px #777777;
    border-radius: 2px;
    background-color: #ffffff;
    width: 100%;
    max-width: 280px;
    float: right;
    display: inline-block;
    position: relative;
    /* z-index: 120 !important; */
    height: 21px;
  }
  
  .divSearch:focus-within{
    border-color: #32b0de;
  }
  
  .divSearch input{
    border-width: 0px;
    width: calc(100% - 30px);
    padding-left: 5px;
    margin-top: 2px;
  }
  
  .divSearch input:focus{
    outline-color: transparent;
  }
  
  .divSearch .search-icon{
    font-size: 13px;
    height: 13px;
    width: 13px;
    color: #555555;
  }


/* list */

.div-autocomplete-list{
    position: absolute;
    width: 100%;
    max-width: 280px;
    background-color: #fefefe;
    padding: 6px 0px 6px 0px;
    right: 21px;
    margin-top: 23px;
}

.div-autocomplete-list .auto-complete-item{
    margin: 0;
    padding: 6px 0px;
    cursor: pointer;
    border-bottom: solid 1px #f0f0f0;
}

.div-autocomplete-list .auto-complete-item:hover{
    background-color: #90b775;
}

 .auto-complete-selected-item{
    background-color: #90b775;
}

.div-autocomplete-list .auto-complete-item-title{
    margin: 0;
    padding: 0px 10px 2px 10px;
    font-size: 15px;
}

.div-autocomplete-list .auto-complete-item-context{
    margin: 0;
    padding: 0px 10px;
    font-size: 13px;
    color: #888888;
}

.auto-complete-item:hover .auto-complete-item-context, .auto-complete-selected-item .auto-complete-item-context{
    color: #555555;
}
