.divSearch{
    border: solid 1px #777777;
    border-radius: 2px;
    background-color: #ffffff;
    width: 100%;
    max-width: 280px;
    float: right;
    display: inline-block;
    position: relative;
    /* z-index: 120 !important; */
    height: 21px;
  }
  
  .divSearch:focus-within{
    border-color: #32b0de;
  }
  
  .divSearch input{
    border-width: 0px;
    width: calc(100% - 30px);
    padding-left: 5px;
    margin-top: 2px;
  }
  
  .divSearch input:focus{
    outline-color: transparent;
  }
  
  .divSearch .search-icon{
    font-size: 13px;
    height: 13px;
    width: 13px;
    color: #555555;
  }


/* list */

.div-autocomplete-list{
    position: fixed;
    width: 100%;
    max-width: 280px;
    background-color: #fefefe;
    padding: 8px 0px 0px 0px;
    right: 21px;
    margin-top: 23px;
}

.div-autocomplete-list p{
    padding: 10px 12px 10px 12px;
    margin: 0;
    font-size: 15px;
    cursor: pointer;
}

.div-autocomplete-list p:hover{
    background-color: #c0c0c0;
}