.user-editor-main-div{
    position: fixed;
    width: calc(100% - 215px);
}

.user-editor-div-user-list{
    height: 62vh;
    overflow-y: scroll;
}

.user-editor-div-user-list > .empty-content-message{
    color: #555555;
    text-align: center;
    margin-top: 20vh;
}