/* LeftBar */
.navBar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 175px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: linear-gradient(#000000, #000000);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
}

/* The navigation menu links */
.navBar a {
    padding: 6px;
    padding-left: 22px;
    text-decoration: none;
    font-size: small;
    color: #818181;
    display: block;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.navBar a:hover {
    color: #e1efc4;
}

.title{
  color: #fff;
  font-size: 21px;
  font-weight: 200;
  /* padding-top: 2px; */
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  /* font-family: 'Playfair Display', serif; */
}

.quote{
  color: #fff;
  font-size: 11px;
  font-weight: 100;
  padding-top: 2px;
  padding-bottom: 6px;
  margin-top: 0;
  margin-bottom: 25px;
}
