
.templateButton{
    /* width: 150px; */
    /* height: 130px; */
    margin: 3px;

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #b0b0b0;

    background-color: #ffffff;
}

.templateButton:hover{
    border-color: #555555;
}

.templateButton:active{
    border-color: #32b0de;
}

.temp-btn-little-div{
    height: 130px;
    width: 150px;
}

.temp-btn-little-title{
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0;
}

.temp-btn-text{
    font-size: 5px;
}

.temp-btn-div-img-text-text{
    float: left;
    width: 80px;
    margin-left: 8px;
    margin-right: 2px;
}

.temp-btn-div-img-text-img{
    float: left;
    width: 50px;
}