.tab{
  display: inline-block;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 13px;
  color: #f0f0f0;
  cursor: pointer;
  background-color: #c0c0c0;
}

.tab:hover{
  color: #ffffff;
  background-color: #98b7d6;
}

.tab:active{
  background-color: #326fad;
}

.active, .active:hover{
  color: #ffffff;
  background-color: #326fad;
}
