.picture-manager-upload-div {
    width: 100%;
}

.picture-manager-input-file-name{
    display: block;
    border: solid 1px #c0c0c0;
    border-radius: 3px;
    padding: 7px 10px 7px 10px;
    margin-bottom: 10px;
    max-width: 304px;
    width: 100%;
}

.fileContainer {
    background-color: #e0e0e0;
    padding: 4px 15px 4px 15px;
    border: solid 1px #c0c0c0;
    display: block;
}

.fileContainer [type=file] {
    cursor: inherit;
    background-color: #d74226;
    display: block;
}

.picture-manager-thumbnails{
    margin-top: 5px;
    height: 50vh;
    overflow-y: auto;
}

.picture-manager-upload-button{
    margin: 10px 0px 0px 0px;
    width: 324px;
    display: block;
}

.picture-manager-thumbnails .empty-content-message{
    color: #555555;
    text-align: center;
    margin-top: 20vh;
}