.topBar{
  /* background-color: #ffffff; */
  background: linear-gradient(#e7e7e7, #ffffff);
  overflow: hidden;
  padding-bottom: 4px;
}

.topTopBar{
  overflow: hidden;
  padding: 4px;
  padding-right: 22px;
  padding-top: 10px;
}

.topTopBar a, .topTopBar a:visited{
  float: right;
  text-decoration: none;
  font-size: 13px;
  color: #326fad;
  margin-left: 20px;
  cursor: pointer;
}

.topTopBar a:hover{
  color: #004c99;
}

.topTopBar a.user-link{
  color: #676767;
}

.topTopBar .active, .topTopBar .active:hover{
  background-color: transparent;
  color: #326fad !important;
}

.bottomTopBar{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
}

.tab{
  /* display: inline-block; */
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 13px;
  color: #f0f0f0;
  cursor: pointer;
  background-color: #c0c0c0;
  text-decoration: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.tab:hover{
  color: #ffffff;
  background-color: #98b7d6;
}

.tab:active{
  background-color: #326fad;
}

.active, .active:hover{
  color: #ffffff;
  background-color: #326fad;
}