.image-modal-content{
    margin-left: calc(50% - 300px);
}

.image-modal-content img{
    position: fixed;
    z-index: 120;
    /* margin-top: 60px; */
}

.image-modal-content h3{
    position: fixed;
    color: #000;
    z-index: 125;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6px 10px;
    border: solid 1px #fff;
    /* border-radius: 10px; */
    width: 328px;
    margin-top: 350px;
}

.image-modal-content .image-modal-buttons{
    position: fixed;
    margin-left: 360px;
    z-index: 125;
}

.image-modal-content .image-modal-buttons div{
    color: #606060;
    font-size: 20px;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #606060;
    border-radius: 50%;
    padding: 8px;
    margin: 5px;
    text-align: center;
}

.image-modal-content .image-modal-buttons div:hover{
    color: #000;
    border-color: #000;
}