.image-modal-content{
    margin-left: calc(50% - 495px);
    height: 385px; 
    z-index: 130;
    position: fixed;
    background-color: #f5f5f5;
    border: solid 1px #696969;
    padding: 10px;
}

.image-modal-content-img{
    position: absolute;
    display: flex;
    width: 485px;
    height: 350px;
}

.image-modal-content img{
    max-width: 485px;
    max-height: 350px;

    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.image-modal-content input{
    position: absolute;
    bottom: 10px;
    color: #000;
    background-color: #fff;
    padding: 6px 10px;
    border: solid 1px #c0c0c0;
    width: 328px;
}

.image-modal-content .image-modal-buttons{
    margin-left: 360px;
    margin-top: 350px;
    display: inline-block;
    width: 135px;
}

.image-modal-content .image-modal-buttons div{
    color: #606060;
    font-size: 17px;
    float: left;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px #606060;
    border-radius: 4px;
    padding: 5px 8px;
    margin: 5px;
    width: 16px;
    text-align: center;
    cursor: pointer;
}

.image-modal-content .image-modal-buttons div:hover{
    color: #000;
    border-color: #000;
}

.image-modal-content .image-modal-buttons div:active{
    color: #b1c797;
    border-color: #b1c797;
}