/* Modal Content/Box */
.modal-content {
    position: fixed;
    background-color: #fefefe;
    /* margin: 15% auto;  */
    padding: 10px;
    border: 1px solid #ddd;
    width: 400px; /* Could be more or less, depending on screen size */
    animation-name: animatezoom;
    animation-duration: 0.4s;
    z-index: 300; /* Sit on top */
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Add Zoom Animation */
/* .edit-user-modal-animation {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
} */

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* h3.modal-confirm-title{
    border-bottom: solid 1px #efefef;
    padding: 2px 2px 8px 2px;
    font-weight: 50 !important;
} */

p.modal-confirm-msg{
    color: #444444;
    margin: 10px 0px 30px 0px;
    font-size: 15px;
}

.modal-content h3{
    text-align: left;
    /* margin-top: 0; */
    /* margin-bottom: 10px; */
    /* font-weight: 200; */

    margin: 0px;
    border-bottom: solid 1px #efefef;
    padding: 2px 2px 8px 2px;
    font-weight: 50;
}

.modal-content button{
    padding: 11px 30px;
    margin-left: 5px;
    float: right;

    background-color: black;
    color: white;
    border: solid 0px #000;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.modal-content button:hover{
    background-color: #c0c0c0;
    color: #000;
}

.modal-content button:active{
    background-color: #98b9db;
}

button.modal-confirm-btn-confirm{
    background-color: #61993b;
}

button:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.buttons{
    display: block;
    height: 35px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}