.needed{
    color: red;
}

.article-builder-p{
    color: #333333;
    text-align: left;
    font-size: 14px;
    margin-bottom: 4px;
}

.article-builder-h2{
    font-family: "Times New Roman", Times, serif;
    color: #333333;
    text-align: left;
    font-size: 20px;
    font-weight: 200;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e0e0e0;
    padding-bottom: 3px;
}

.form-input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;

    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;

    width: 100%;
    position: relative;
    box-sizing : border-box;

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-input:focus {
    outline: -webkit-focus-ring-color auto 0px;
    border-color: #32b0de;
}

.article-btn{
    padding: 8px 15px 8px 15px;
    border-width: 0px;
    cursor: pointer;
}

.article-btn-topic{
    background-color: black;
    color: #fff;
}

.article-btn-topic:hover{
    background-color: #c0c0c0;
    color: #000;
}

.article-btn-submit{
    background-color: #40b352;
    color: #fff;
}

.article-btn-submit:hover{
    background-color: #c0c0c0;
    color: #000;
}

.article-btn-cancel{
    background-color: #d74226;
    color: #fff;
}

.article-btn-cancel:hover{
    background-color: #c0c0c0;
    color: #000;
}

.article-builder-div-content{
    width:100%;
    min-height: 100px;
    background-color: #f0f0f0;
    padding: 6px;

    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    border-radius: 2px;

    box-sizing : border-box;
}

.article-builder-div-content > .empty-content-message{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: #c0c0c0;

    margin-top: 33px;
}
