.settings-screen{
    width: calc(100hc - 175px);
    height: calc(100% - 50px);
}

.settings-screen hr{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.settings-screen-content{
    width: 49ch;
    padding: 15px 5px 20px 20px;
    margin: 0%;
    position: relative;
}

.settings-screen-content-image{
    float: left;
    width: 49ch;
    position: absolute;
    top: 80px;
    left: 125px;
}

.settings-screen-content h3{
    font-family: "Times New Roman", Times, serif;
    color: #333333;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 3px;
    margin: 3px 0px 3px 0px;;
}

.settings-screen img{
    margin: 3px;
}

.settings-screen select, .settings-screen input[type=text], 
.settings-screen input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;  
}

.settings-screen select:focus, .settings-screen input[type=text]:focus, 
.settings-screen input[type=password]:focus {
    outline: -webkit-focus-ring-color auto 0px;   
    border-color: #32b0de; 
}
